<!DOCTYPE html>
<html ng-app="MoodTracker">
<head>
    <meta charset="utf-8">
    <title>Mood Tracker</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/ionicons/1.5.2/css/ionicons.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body ng-controller="AuthController">
    <div class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <i class="ion-happy"></i> Mood Tracker <i class="ion-sad"></i>
            </a>
        </div>

        <ul ng-if="isAuthenticated()" class="nav navbar-nav">
            <li><a href="/#/mood">Mood Log</a></li>
            <li><a href="/#/profile">Profile</a></li>
            <li><a href="/#/message">Messages</a></li>
        </ul>
        <ul ng-if="!isAuthenticated()" class="nav navbar-nav pull-right">
            <li><a href="/" ng-click="login($event)">Login</a></li>
        </ul>
        <ul ng-if="isAuthenticated()" class="nav navbar-nav pull-right">
            <li><a href="/" ng-click="logout($event)">Logout</a></li>
        </ul>
    </div>

    <div ng-view class="fadeZoom"></div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0-beta.13/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0-beta.13/angular-route.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0-beta.13/angular-animate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0-beta.13/angular-sanitize.min.js"></script>
    <script src="//oss.maxcdn.com/angular.strap/2.0.0/angular-strap.min.js"></script>
    <script src="//oss.maxcdn.com/angular.strap/2.0.0/angular-strap.tpl.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.3.11/d3.js"></script>

    <script src="vendor/satellizer.js"></script>
    <script src="vendor/angular-charts.js"></script>

    <script src="app.js"></script>
    <script src="controllers/auth.js"></script>
    <script src="controllers/profile.js"></script>
    <script src="controllers/mood.js"></script>
    <script src="controllers/message.js"></script>

    <script src="services/user.js"></script>
    <script src="services/alert.js"></script>
    <script src="services/message.js"></script>
</body>
</html>
