<div class="container">
    <div class="panel panel-default">
    <div class="panel-heading">Hacker School Day {{days}}</div>
    <div class="panel-body">
        <legend><i class="ion-android-hand"></i> Hi {{name}}, How are you today?</legend>
        <form method="post" ng-submit="updateMood()">
            <div class="form-group">
                <div class="btn-group" ng-model="mood" data-bs-radio-group>
                    <label class="btn btn-default">
                        <input name="happy" type="radio" value="happy">Happy
                    </label>
                    <label class="btn btn-default"> 
                        <input name="okay" type="radio" value="okay">Okay
                    </label>
                    <label class="btn btn-default"> 
                        <input name="okay" type="radio" value="unhappy">Unhappy
                    </label>
                </div>
            </div>
            <button class="btn btn-lg btn-success">Submit</button>
        </form>
    </div>
    </div>

    <div ng-if="loaded" class="panel panel-default">
    <div class="panel-heading">Statistics</div>
    <div class="panel-body">
        <div id="pieChart" ac-chart="chartType" ac-data="countData" ac-config="config"></div>
    </div>
    </div>
</div>